<div class="form-group">
  <%= form_with model: deck, local: true, method: :post, multipart: true, data: { controller: "image" } do |form| %>
    <%= form.text_field :name, class: "form-control", placeholder: t(".name") %>

    <%= render "shared/preview_image", form: form, call_to_action: t("button.add_cover") %>

    <div class="text-right">
      <%= button_tag class: "btn btn-primary" do %>
        <%== fa_icon("paper-plane") %>
        <%= t("button.create") %>
      <% end %>
    </div>
  <% end %>
</div>
