<div class="form-group">
  <%= form_with model: deck, local: true, method: :post, multipart: true, data: { controller: "decks" } do |form| %>
    <strong><%= form.label :name %></strong>
    <%= form.text_field :name, class: "form-control" %>
    <div class="mt-3" data-action="click->decks#selectFile">
      <%= form.file_field :cover, class: "form-control-file d-none", data: { action: "change->decks#previewImage", target: "decks.fileSelect" } %>
      <%= button_tag t("button.add_cover"), class: "file-select", type: "button", data: { target: "decks.trigger" } %>
      <%= image_tag "", data: { target: "decks.preview" }, class: "w-100 mb-2 pointer" %>
    </div>

    <%= form.submit t("button.create"), class: "btn btn-success" %>
  <% end %>
</div>
