<div class="card mx-auto w--70">
  <div class="card-header">
    <h4>Create New Deck</h4>
  </div>
  <div class="card-body">
    <%= form_with model: @deck, local: true, multipart: true, html: { class: "dropzone" } do |form| %>
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control w--60" %>
      <%= form.label :cover %>
      <div class="dropzone dropzone-default dz-clickable" data-controller="dropzone" data-max-file-size="2" data-dropzone-max-files="1">
        <%= form.file_field :cover, direct_upload: true, data: { target: "dropzone.input" } %>
        <div class="dropzone-msg dz-message">
          <h3 class="dropzone-msg-title">Drag here to upload or click here to browse</h3>
          <span class="dropzone-msg-desc">2 MB file size maximum. Allowed file types png, jpg.</span>
        </div>
      </div>
    <% end %>
  </div>
</div>
