<!DOCTYPE html>
<html>
  <head>
    <title>PrettyPersonalFlashcards</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if content_for? :stylesheet %>
      <%= yield :stylesheet %>
    <% end %>
  </head>

  <body class='min-height-100 d-flex flex-column'>
    <%= render "layouts/navbar" %>
    <main class="container mt-2 flex-grow-1" role="main">
      <%= yield %>
    </main>
    <%= render "layouts/footer" %>
  </body>
  <% if content_for? :javascripts %>
    <%= yield :javascripts %>
  <% end %>
</html>
